<section class="footer pt-5">
    <div class="container w-75 pb-3 border-bottom">
        <div class=" d-flex flex-wrap justify-content-between">
            <div>
                <a routerLink="home/meals/ " class="text-decoration-none ">
                    <img src="/logo.png" alt="logo" width="60px">
                    <span class="pecipe">Recipe</span>
                </a>
            </div>
            <div>
                <span class="route">route</span>
            </div>

        </div>
       
    </div>
    <div class="pt-3 pb-2">
        <p class="text text-center">
            © 2025 Nagy Osama™. All Rights Reserved.
        </p>


    </div>

</section>